Adafruit-Blinka==8.22.4
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-epd==2.12.1
adafruit-circuitpython-framebuf==1.6.4
adafruit-circuitpython-requests==2.0.2
adafruit-circuitpython-typing==1.9.5
Adafruit-PlatformDetect==3.52.3
Adafruit-PureIO==1.1.11
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.0
click==7.1.2
google==2.0.3
gtfs-realtime-bindings==0.0.6
idna==3.4
Pillow==10.0.1
protobuf==3.20.3
protobuf3-to-dict==0.1.5
pydantic==1.9.2
pyftdi==0.55.0
pyserial==3.5
python-dotenv==1.0.0
pytz==2023.3.post1
pyusb==1.2.1
requests==2.31.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
six==1.16.0
soupsieve==2.5
sysv-ipc==1.1.0
typing_extensions==4.8.0
underground==0.3.3
urllib3==2.0.6
